<!DOCTYPE html>
<html>
<head>
	  <title>Friend List</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script type="text/javascript" src="{{url_for('static', filename = 'Back.js')}}"></script>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'Collection.css')}}">


</head>
<body>

<HEADER style="text-align: center;" id="Bar"><h1>Music Company</h1></HEADER>


<!-- _____________________________________________________________________________Navbar___________________________________________________________________________________-->
<nav class="navbar navbar-expand-lg navbar-light navbar-default" style="margin:0px;" data-spy="affix" data-offset-top="197">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="">Music</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li class="active">
      <a href="Account.html" class="nav-link">
        <span class="glyphicon glyphicon-user"></span>&nbsp;Account</a>
    </li>
    <li class="nav-item">
      <a href="Account.html#UploadMusic" class="nav-link">
      <span class="glyphicon glyphicon-upload"></span>&nbsp;Music Uploaded</a>
    </li>
    <li class="nav-item">
      <a href="Account.html#AddMusic" class="nav-link">
      <span class="glyphicon glyphicon-share"></span>&nbsp;Share Music</a>
    </li>
    <li class="nav-item">
      <a href="MusicType.html" class="nav-link">
      <span class="glyphicon glyphicon-music"></span>&nbsp;Music Collections</a>
    </li>
    <li class="nav-item">
      <a href="Q.html" class="nav-link">
      <span class="glyphicon glyphicon-question-sign"></span>&nbsp;Q & A</a>
    </li>
    <li class="nav-item">
      <a href="List.html" class="nav-link">
      <span class="glyphicon glyphicon-heart"></span>&nbsp;Favourite</a>
    </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- _____________________________________________________________________________Content___________________________________________________________________________________-->
    <section>
        <p style="padding-left: 1%; padding-top:1%;"><a class="btn" role="button" style="background-color: #99999999" onclick="Back()">&nbsp;Back</a></p>

    		<h2 style="margin-left: 5%; margin-bottom: 3%">Friend List
          <input class="form-control" id="myInput" type="text" placeholder="Search.." style="width: 20%; margin:0% 10% 3% 5%; float: right;">
        </h2>

        <script>
            $(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#MusicList tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
        </script>

<!-- ____________________________________________________________________List of Friends______________________________________________________________________-->
        

           

    <div id="DataList">
        <div class="row">
            <div class="container-fluid col-lx-12">
                <table id="UserMusic">
                    <tr id="Mp3">
                        <th>Image</th>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Detail</th>
                    </tr>
                <tbody id="MusicList">
                    <tr id="Item" style="border-top: 1px solid #d9d9d9">
                        <td><img src="Unknown-2" id="Picture"></td>
                        <td>00001</td>
                        <td>Chris Wong</td>
                        <td><div class="dropdown">
                            <button class="btn dropdown-toggle" type="button" data-toggle="dropdown"><span class="glyphicon glyphicon-option-vertical"></span>
                                   <span class="caret"></span></button>
                                   <ul class="dropdown-menu" style="text-align: center;">
                                   <li><a href="#">Chat</li>
                                   <li><a href="#"><span class="glyphicon glyphicon-remove"></span>&nbsp;Delete</a></li>
                               </ul>
                           </div>
                        </td>
                    </tr>

                    <tr id="Item">
                        <td><img src="Unknown-2" id="Picture"></td>
                        <td>00002</td>
                        <td>May Lai</td>
                        <td><div class="dropdown">
                            <button class="btn dropdown-toggle" type="button" data-toggle="dropdown"><span class="glyphicon glyphicon-option-vertical"></span>
                                   <span class="caret"></span></button>
                                   <ul class="dropdown-menu" style="text-align: center;">
                                   <li><a href="#">Chat</li>
                                   <li><a href="#"><span class="glyphicon glyphicon-remove"></span>&nbsp;Delete</a></li>
                               </ul>
                           </div>
                        </td>
                    </tr>
                </tbody>
                </table>
            </div>
        </div>
    </div>

<!-- ________________________________________________________________________Footer_______________________________________________________________________________-->
    <footer class="text-center">
  <p>
  Powered by Music Company
  </p>
</footer>

</body>
</html>