<!DOCTYPE html>
<html>
<head>
	<title>Q&A</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

</head>
<body>

<HEADER style="text-align: center;" id="Bar"><h1>Music Company</h1></HEADER>


<!-- ___________________________________navbar______________________________________________-->   

<nav class="navbar navbar-expand-lg navbar-light navbar-default" style="margin:0px;" data-spy="affix" data-offset-top="197">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#myPage">Logo</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right" style="font-size: 14px;">
        <li class="nav-item">
      <a href="Account.html" class="nav-link">
        <span class="glyphicon glyphicon-user"></span>&nbsp;Account</a>
    </li>
    <li class="nav-item">
      <a href="Account.html#UploadMusic" class="nav-link">
      <span class="glyphicon glyphicon-upload"></span>&nbsp;Music Uploaded</a>
    </li>
    <li class="nav-item">
      <a href="Account.html#AddMusic" class="nav-link">
      <span class="glyphicon glyphicon-share"></span>&nbsp;Share Music</a>
    </li>
    <li class="nav-item">
      <a href="MusicType.html" class="nav-link">
      <span class="glyphicon glyphicon-music"></span>&nbsp;Music Collections</a>
    </li>
    <li class="nav-item">
      <a href="List.html" class="nav-link">
      <span class="glyphicon glyphicon-heart"></span>&nbsp;Favourite</a>
    <li class="active">
      <a href="Q.html" class="nav-link">
      <span class="glyphicon glyphicon-question-sign"></span>&nbsp;Q & A</a>
    </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- ___________________________________Content______________________________________________-->

<section class="container">
    <h1>Q & A</h1>
    <p>
    	<ol>
    		<li><h2>How to Upload Music?</h2><br>
    		    <h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Click the <b><a href="Account.html#AddMusic">Share Music</a></b> button on the bar. Then you will see there is a form for you to enter the information of the music.</h5><br></li>

    		<li><h2>What is the price?</h2><br>
    		    <h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;In this website, user can <b>set the price of the music</b> if they want. Other user can pay for your music upload to listen your music. Our website will charge you <b>10% of the service charge</b> if the music need user to pay.</h5><br></li>

    		<li><h2>How can I change the information of the account?</h2><br>
    		    <h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;To change the information, click on the button <b>"Change information"</b> at the right-bottom of the <b><a href="Account.html">acccount information</a></b> and you can change it.</h5><br></li>

            <li><h2>How can I check the music uploaded?</h2><br>
    		    <h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Click the <b><a href="Account.html#UploadMusic">Music Uploaded</a></b> button. There will be a list of music shown with the date that you uploaded music.</h5><br></li>
    	</ol>
    </p>
</section>

<footer class="text-center">
       <a href="#"><i class="fa fa-facebook-official"></i></a>
       <a href="#"><i class="fa fa-twitter"></i></a>
       <a href="#"><i class="fa fa-google"></i></a>
  <p>
  Powered by <a href="https://www.w3schools.com/w3css/default.asp" style="color: black;">w3.css</a>
  </p>
</footer>

<style type="text/css">
    <style type="text/css">
    hr{
      border: 1px solid #e6e6e6;
    }

     body{
      font-family: Palatino;
      font-size: 16px;
    }

    #Bar{
      padding-top: 1%;
    }
       
    .navbar{
    background: rgba(200, 200, 200,0.9);
    top: 0px;
    width:100%;
    z-index: 9999 !important;
    }

    .nav-item:hover { 
      background-color: #e6e6e6;
     }

    footer{
      background-color: rgb(200, 200, 200);
      height: 100px;
      padding: 5%;
       }

       header{
        margin: 1%;
       }


	h2{
		margin-left: 3%;
		font-size: 23px;
	}

    h5{
        margin-left: 5%;
        font-size: 18px;
    }
</style>

</body>
</html>